@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
body {font-family: "Noto Sans CJK KR", sans-serif;}
/* MOBILE HEADER */
.pc_header {display: none;}
    
.mobile_header .header_bg {
    background-color: #333333;
    padding: 0.5625rem 0;
}

.mobile_header .mobile_lang {float: right;}

.mobile_header .mobile_lang li {
    float: left;
    font-size: 0.75rem;
    color: #fff;
    padding: 0 0.9375rem;
    border-right: 0.0625rem solid #fff;
}

.mobile_header .mobile_lang li:last-child {
    border: 0;
}

.mobile_header .menu_wrap {
    padding: 2.5rem 0 1.563rem 0;
}

.mobile_header .mobile_logo {
    width: 70%;
    float: left;
    margin-left: 1.25rem;
}

.mobile_header .hamburger {
    float: right;
    margin-right: 1.25rem;
}

.mobile_header img{width: 70%;}

/* MOBILE BANNER */  
.pc_banner {display: none;}

/*.mobile_banner img {width: 100%;}*/
.mobile_banner{display:none;}
/* PRODUCT TAB */  
.product_tab {padding: 2.188rem 0 1.563rem 0;}
    
.product_tab li {
    float: left;
    width: 24%;
    border-right: 0.0625rem solid #d3d3d3;
}
    
.product_tab li:last-child {border: 0;}
    
.product_tab li img {width: 100%;}

/* 고객센터 메뉴바 */
.customer {display: none;}

.customer_table table {
    border-collapse: collapse;
    width: 100%;
}

.customer_table table td {
    border-right: 0.0625rem solid #9fa0a0;
    width: 16.66%;
    font-size: 0.8125rem;
    text-align: center;
    color: #9fa0a0;
    background-color: #3e3d40;
    
    height: 1.875rem;
    vertical-align: middle;
}

.customer_table table td.big {
    width: 50%;
    color: #fff;
    background-color: #2b70b5;
}

.customer_table table td:nth-child(3) {border: 0;}
.customer_table table td:nth-child(4) {border: 0;}


/* MOBILE PRODUCT */
.pc_product {display: none;}

.mobile_product_text {
    background-image: url(../img/site/text_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 6.125rem 0;
}

.mobile_product_text .wrap {
    box-sizing: border-box;
    padding: 0 2.5rem; 
} /* 텍스트 양사이드 패딩 */

.mobile_product_text h4 {
    font-size: 1.25rem;
    color: #898989;
}

.mobile_product_text h2 {
    font-size: 2.25rem;
    color: #204b97;
    padding: 0.9375rem 0 2.188rem;
}

.mobile_product_text p {
    font-size: 1rem;
    color: #727171;
    line-height: 1.3;
}

.mobile_product .mobile_product_list li {
    padding-bottom: 2.188rem;
}

.mobile_product_1 img,
.mobile_product_2 img,
.mobile_product_3 img {width: 100%;}

/* 시공 예제 */
.case {padding: 4.375rem 0 2.5rem 0;}
    
.case img {width: 100%;}

.case h4 {
    font-size: 1rem;
	font-weight: bold;
    color: #00a0e2;
    text-align: center;
}
    
.case h2 {
    font-size: 1.5rem;
	font-weight: bold;
    color: #49484b;
    text-align: center;
    line-height: 1.3;
	letter-spacing: -0.5px;
    margin: 1.25rem 0 2.813rem 0;
    box-sizing: border-box;
    padding: 0 2.5rem;
}
    
.case .case_list li {
    width: 50%;
    float: left;
    text-align: center;
    margin-bottom: 2.5rem;
    box-sizing: border-box;
    padding: 0 0.625rem;
}
    
.case .case_list li h5 {
    font-size: 0.875rem;
    color: #7b7272;
    padding: 1.25rem 0 0.3125rem 0;
}
    
.case .case_list li p {
    font-size: 0.875rem;
    color: #7b7272;
}

/* MOBILE FOOTER */
.pc_footer {display: none;}
    
.mobile_footer {
    text-align: center;
    background-color: #333333;
}
    
.mobile_footer_1 {padding-top: 1.875rem;}
    
.mobile_footer_1 .sns li {
    display: inline-block;
    padding: 1.25rem 0.1875rem;
}

.mobile_footer_1 .footer_logo img {width: 70%;}
    
.mobile_footer_2 {padding-bottom: 0.625rem;}
    
.mobile_footer_2 p {
    font-size: 0.8125rem;
    color: #c0bab9;
    padding-bottom: 0.625rem;
}
    
.mobile_footer_3 {
    padding: 1.25rem 0;
    border-top: 0.0625rem solid #606060;
}
    
.mobile_footer_3 p {
    font-size: 0.75rem;
    color: #c0bab9;
    padding-bottom: 0.9375rem;
}

.mobile_footer_3 .policy_btn li {
    display: inline-block;
    font-size: 0.75rem;
    color: #fff;
    padding: 0 0.9375rem;
    border-right: 0.0625rem solid #fff;
}
    
.mobile_footer_3 .policy_btn li:last-child {
    border: 0;
}

@media (min-width: 376px) {
    .mobile_header .mobile_logo {
        width: auto;
    }
    .mobile_header img{width: 100%;}
    
    .mobile_product_text h4 {font-size: 1.688rem;}

    .mobile_product_text h2 {font-size: 3.063rem;}
    
    .mobile_product_text p {font-size: 1.188rem;}
    
    .case .case_list li h5 {font-size: 1rem;}
}

@media (min-width: 530px) {
    .pc_footer {display: none;}

    /* footer 1 */
    .mobile_footer_1 {padding: 1.875rem 1.25rem;}

    .mobile_footer_1 img {width: 100%;}

    .mobile_footer_1 .footer_logo {float: left;}
    
    .mobile_footer_1 .footer_logo img {width: 100%;}

    .mobile_footer_1 .sns {float: right;}

    .mobile_footer_1 .sns li {
        float: left;
        padding: 0 0.3125rem;
    }

    /* footer 2 */
    .mobile_footer_2 {padding: 0 1.25rem 0.9375rem 1.25rem;}

    .mobile_footer_2 p {text-align: left;}

    /* footer 3 */
    .mobile_footer_3 {padding: 1.25rem;}

    .mobile_footer_3 p {float: left;}

    .mobile_footer .policy_btn {float: right;}

    .mobile_footer .policy_btn li {float: left;}

    .mobile_footer .policy_btn li:last-child {
        padding-right: 0;
    }
}

@media (min-width: 768px) {    
    /* PC BANNER */
    /*.mobile_banner {display: none;}*/
    
    .pc_banner {display: block;}
    
    .pc_banner img {width: 100%;}
    
    /* CUSTOMER CENTRE BAR */
    .customer_table {display: none;}
    .customer {display: block;}
    
    .customer img {
        display: inline-block;
        width: 20px;
    }
    
    .customer {
        background-image: url(../img/site/table_bar.jpg);
        background-position: center;
    }

    .customer_1 {
        width: 50%;
        float: left;
        text-align: center;
        background-color: #3e3d40;
        padding: 1.25rem 0;
    }

    .customer_1 li {
        display: inline-block;
        font-size: 1rem;
        font-weight: bold;
        color: #9fa0a0;
        padding: 0 1rem;        
        border-right: 1px solid #9fa0a0;
    }

    .customer_1 li:last-child {border: 0;}

    .customer_2 {
        width: 50%;
        float: left;
        text-align: center;
        background-color: #2b70b5;
        padding: 1.063rem 0;
    }

    .customer_2 li {
        font-size: 1rem;
        font-weight: bold;
        color: #e7e7e7;
    }

    .customer_2 li .strong {
        font-size: 1.125rem;
        color: #fff;
    }
    
    .customer_1 li a,
    .customer_1 li img,
    .customer_2 li img, 
    .customer_2 li span {
        vertical-align: middle;
        padding-right: 0.3125rem;
    }

    /* PRODUCT */
    .mobile_product {display: none;}
    
    .pc_product {display: block;}
    
    .product_1 {
        background-image: url(../img/site/product_bg_1.jpg);
        background-size: cover;
        background-position: top center;
        padding: 4.5rem 0;
        margin-bottom: 1.875rem;
    }
    
    .product_2 {
        background-image: url(../img/site/product_bg_2.jpg);
        background-size: cover;
        background-position: top center;
        padding: 4.5rem 0;
        margin-bottom: 1.875rem;
    }
    
    .product_3 {
        background-image: url(../img/site/product_bg_3.jpg);
        background-size: cover;
        background-position: top center;
        padding: 4.5rem 0;
    }
    
    .product_1 .product_1_wrap,
    .product_3 .product_3_wrap {
        float: right;
        width: 40%;
        position: relative;
    }
    
    .product_2 .product_2_wrap {
        float: left;
        width: 40%;
        position: relative;
    }
    
    .product_1 .product_1_wrap a,
    .product_2 .product_2_wrap a, 
    .product_3 .product_3_wrap a {
        position: absolute;
        top: 1.875rem;
        right: 1.875rem;
    }
    
    .product_1 img,
    .product_2 img,
    .product_3 img {width: 100%;}
    
    /* 시공 예제 */
    .case .case_list li {width: 33.33%;}
    
    .case h4 {font-size: 1.25rem;}

    .case h2 {font-size: 2.25rem;}
    
/*
     시공 예제 
    .example {padding: 120px 0 75px 0;}
    
    .example h4 {
        font-size: 1.25rem;
        color: #00a0e2;
        text-align: center;
    }
    
    .example h2 {
        font-size: 2.25rem;
        color: #49484b;
        text-align: center;
        padding: 1.25rem 0 2.813rem 0;
    }
    
    .example .example_list li {
        width: 33.33%;
        float: left;
        text-align: center;
        margin-bottom: 2.5rem;
    }
    
    .example .example_list li h5 {
        font-size: 1rem;
        color: #7b7272;
        padding: 1.25rem 0 0.625rem 0;
    }
    
    .example .example_list li p {
        font-size: 0.875rem;
        color: #7b7272;
    }
    
    /* FOOTER */
    .mobile_footer {display: none;}
    
    .pc_footer {
        display: block;
        background-color: #333333;
    }
    
    /*footer top */
    .footer_top {
        padding: 0.5rem 0;
        border-bottom: 0.0625rem solid #666666;
    }
    
    .pc_footer .footer_top_1 li {
        float: left;
        font-size: 0.8125rem;
        color: #fff;
        padding: 0 1.25rem;
        border-right: 0.0625rem solid #fff;
        margin-top: 0.4375rem;
    }
    
    .pc_footer .footer_top_1 li:last-child {
        border: 0;
    }
    
    .pc_footer .footer_top_2 {float: right;}
    
    .pc_footer .footer_top_2 li {
        float: left;
        padding-right: 0.9375rem;
    }
    
    /* footer bottom */
    .footer_bottom {padding: 3.125rem 0 2.5rem 0;}
    
    .footer_bottom .footer_logo {
        float: left;
        margin: 0 4.375rem 0 1.25rem;
    }
    
    .footer_bottom .footer_bottom_1 {float: left;}
    
    .footer_bottom .footer_bottom_1 li {
        font-size: 0.9375rem;
        color: #c0bab9;
        padding-bottom: 0.625rem;
    }
}

@media (min-width: 1000px) {
        /* HEADER */
    .mobile_header {display: none;}
    .pc_header {display: block;}
    
    .pc_header .header_bar {
        background-image: url(../img/site/bar.jpg);
        height: 0.625rem;
    }
    
    .pc_header .header_wrap {
        max-width: 1000px;
        margin: 0 auto;
        padding: 1.75rem 1.25rem 1rem 1.25rem;
    }
    
    .pc_header .logo {
        float: left;
        width: 180px;
        margin-right: 20px;
    }
    
    .pc_header .logo img {
        width: 100%;
    }
    
    .pc_header .menu {
        float: left;
        margin-top: 0.35em;
    }
    
    .pc_header .menu li {
        float: left;
        font-size: 0.9375rem;
        font-weight: bold;
        color: #2e373e;
        margin: 0 0.625rem;
    }
    
    .pc_header .lang {
        float: right;
        margin-top: 0.4375rem;
    }
    
    .pc_header .lang li {
        float: left;
        font-size:0.75rem;
        padding: 0 0.5rem;
        border-right: 0.0625rem solid #000;
    }
    
    .pc_header .lang li:last-child {border: 0;}
}

@media (min-width: 1280px) {    
    .pc_header .header_wrap {
        max-width: 1250px;
        margin: 0 auto;
        padding: 2.813rem 1.25rem 1rem 1.25rem;
    }
    
    .pc_header .logo {
        width: 240px;
    }
    
    .pc_header .menu {
        margin-top: 0.4rem;
    }
    
    .pc_header .menu li {
        font-size: 1.125rem;
        margin: 0 1rem;
    }
    
    .pc_header .lang {
        margin-top: 0.55rem;
    }
    
    .pc_header .lang li {
        font-size: 0.75rem;
        padding: 0 0.9375rem;
    }
}

@media (min-width: 1485px) {    
    .pc_header .header_wrap {
        max-width: 1620px;
        margin: 0 auto;
        padding: 2.813rem 1.25rem 1rem 1.25rem;
    }
    
    .pc_header .logo {
        width: auto;
        margin-right: 2.188rem;
    }
    
    .pc_header .menu {
        margin-top: 0.6rem;
    }
    
    .pc_header .menu li {
        font-size: 1.188rem;
        margin: 0 1.875rem;
    }
    
    .pc_header .lang {
        margin-top: 0.8rem;
    }
    
    .pc_header .lang li {
        font-size: 0.875rem;
        padding: 0 0.9375rem;
    }
}
